#burger, [for=burger]{
    display: none;
}
@media screen and (max-width: 830px) {
    .menu{
        display: flex;
        align-item: space-around;
        flex-direction: column;
        gap: 15px;
        background: #7792E0;
        align-items: center;
        list-style: none;
        margin-bottom: 30px;
    }
    .menu-item{
        color: #333333;
    }
    .menu-item:hover{
        color: #FFFFFF;
    }
    [for=burger]{
        display: block;
        position: fixed;
        width: 30px;
        text-align: center;
        right: 20px;
        top: 10px;
    }
    [for=burger]::before{
        content: '☰';
    }
    nav{
        display: none;
        position: fixed;
        top: 0;
        margin-top: 60px;
        width: 100%;

        user-select: none;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    #burger:checked + label + nav{
        display: block;
        animation: show .5s ease;
    }
    #burger:checked +[for=burger]::before{
        content: '⮾';
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}