
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section{
    padding: 50px 20px 50px 20px;
}
.header{
    background-image: url("img/Background-2.png");
    padding: 20px 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.menu{
    display: flex;
    align-item: space-around;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.menu-item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}
.name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.frontend{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 68px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 150px;
}
.text-arrow{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-item: end;
    margin-bottom: 10px;
}
@media screen and (max-width: 550px){
.section{
    padding: 50px 15px;
}
.header-wrapper{
    padding: 0 10px;
}
.header-logo{
    width: 110px;
    height: 35px;
}
.name{
    font-weight: 400;
    font-size: 28px;
}
.frontend{
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 100px;
}
.text-arrow{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}
}
.vector{
    display: flex;
    justify-content: center;
    align-item: end;
}
.about-me-wrapper{
    background: #FFFFFF;
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 40px;
}
.text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #333333;
    margin-bottom: 20px;
}
@media screen and (max-width: 500px){
.title{
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-bottom: 15px;
}
}
.skills{
    background: #F6F6F8;
}
.skills-pictures{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.portrait{
    width: 300px;
    height: 350px;
}
.skill-bars{
    width: 100%;
    max-width: 500px;
    height: 200px;
}
@media screen and (max-width: 900px){
.skills-wrapper{
    padding: 50px 15px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skills{
    padding: 50px 0 50px 0;
}
.portrait{
    margin-bottom: 50px;
}
}
@media screen and (max-width: 500px){
.skills-wrapper{
    padding: 0 15px;
}
.skills-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portrait{
    width: 300px;
    height: 325px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
}
.services-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.service-item{
    display: flex;
    flex-direction: column;
}
.service-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #333333;
}
.description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
}
.service-pic{
    width: 60px;
    height: 60px;
}
@media screen and (max-width: 650px){
.services-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
}
@media screen and (max-width: 500px){
.services-wrapper{
    padding: 0 15px;
}
.services-items{
    display: flex;
    flex-direction: column;
}
.service-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.service-pic{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
}
.title-my-works{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #333333;
    justify-content: center;
    margin-bottom: 40px;
}
.works-links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    color: #2352DE;
    transition: 0.3s;
}
.my-works-photo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    cursor: pointer;
}
.link-grid{
    width: 100%;
    height: 100%;
    max-width: 300px;
}
@media screen and (max-width: 700px){
.title-my-works{
    font-weight: 600;
    font-size: 38px;
}
.works-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.my-works-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    cursor: pointer;
}
}
@media screen and (max-width: 500px){
.my-works-wrapper{
    padding: 0 15px;
}
.title-my-works{
    font-size: 28px;
    margin-bottom: 10px;
}
.works-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.link{
    font-size: 18px;
}
.my-works-photo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.link-grid{
    width: 100%;
    height: 100%;
}
}
.reviews-section{
    background: #F6F6F8;
}
.reviews{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.mark-tsukerberg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.mark-photo{
    width: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.mark-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    color: #2352DE;
    text-align: center;
    margin-bottom: 20px;
}
.italic-text{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}
@media screen and (max-width: 900px){
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.italic-text{
    margin-bottom: 20px;
}
}
@media screen and (max-width: 650px){
.title-my-works{
    font-size: 38px;
    margin-bottom: 10px;
}
.reviews-section{
    padding: 50px 15px;
}
.mark-text{
    font-size: 22px;
    text-align: center;
}
.italic-text{
    font-size: 18px;
}
.video iframe{
    max-width: 430px;
    height: 300px;
}
}
@media screen and (max-width: 500px){

.title-my-works{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mark-tsukerberg{
    margin-bottom: 15px;
}
.mark-text{
    font-size: 20px;
    text-align: center;
}
.italic-text{
    font-size: 16px;
}
.video iframe{
    max-width: 100%;
    height: 100%;
}
}
.stat-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.stat-item{
    width: 200px;
    height: 200px;
    background: #F6F6F8;
    border: 1px solid #DBDBED;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
}
.stat-pic{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}
.stat-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 15px;
}
.number{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #333333;
}
@media screen and (max-width: 500px){
.stat-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.stat-item{
    width: 165px;
    height: 170px;
    justify-content: space-evenly;
    padding: 10px 0;
}
.stat-text{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 10px;
}
.stat-pic{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}
.number{
    font-size: 30px;
}
}
.contacts{
    display: flex;
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 450px;
    margin-right: 100px;
}
.contact-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #2352DE;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.media{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.social-red{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}
.forms{
    display: flex;
    flex-direction: column;
}
.name-phone-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.input:last-of-type{
    margin-right: 0;
}
.input-name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #9C9CAB;
    background: #F6F6F8;
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.name-phone-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 10px;
}
.input-text{
    padding: 10px 150px 30px 10px;
    ont-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #9C9CAB;
    background: #F6F6F8;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}
.title-contacts{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 50px;
}
.button{
    background: #2352DE;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 10px;
}
.footer{
    background: #343740
}
.footer-wrapper{
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px){
.name-phone-inputs{
    display: flex;
    flex-direction: column;
}
.input{
    margin-right: 0;
}
.input-text{
    padding: 10px 10px 50px 10px;
}
}
@media screen and (max-width: 800px){
.contacts{
    flex-direction: column;
}
.input{
    width: 300px;
}
.input-text{
    width: 300px;
}
.contact-me{
    max-width: 100%;
    margin-right: 0;
}
.name-phone-inputs{
    margin-top: 20px;
}
.button{
    margin-top: 20px;
}
}
@media screen and (max-width: 500px){

.title-contacts{
    font-weight: 700;
    font-size: 28px;
    display: flex;
    justify-content: center;
}
.contacts{
    flex-direction: column;
}
.input-text{
    padding: 10px 10px 50px 10px;
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
}
.button{
    margin-top: 20px;
}
.footer-wrapper{
    padding: 30px 0;
}
.footer-logo{
    height: 35px;
    width: 110px;
}
}